/* Paul Irish Box-Sizing: Border-Box reset - apply a natural box layout model to all elements, but allowing components to change http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
/* End of Reset */
/* Start of Custom Styles */

body {
    /*background-color: LightGray;*/
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.content {
    padding: 0 15px;
}
/* Navigation Section */
.top-navigation {
    background-color: #fff;
}
.top-navigation > .content {
    margin: 0 auto;
    width: 970px;
    height: 70px;
}
.top-navigation .logo {
    height: 70px;
}
.top-navigation .links {
    float: right;
    font-family: 'Roboto', sans-serif;
    color: #838994;
    font-size: 16px;
    margin-top: 25px;
    -webkit-font-smoothing: antialiased;
}
.top-navigation .links li {
    display: inline-block;
    margin-left: 25px;
}
.top-navigation .links .active {
    color: #4c5058;
    font-weight: 500;
}
.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}

.introduction {
    background-image: url('../images/first-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 bottom;
    height: 46rem;
    overflow: auto;
}

.introduction h1{
    margin-top: 15rem;
    font-size: 3.125rem;
    color: white;
    text-align:center;
    font-weight: lighter;
}

.introduction h3{
    color: white;
    text-align: center;
    margin-top: 1.25rem;
    font-size: 1.563rem;
    font-weight: lighter;
}

.introduction .buttons{
    color: white;
    text-align: center;
    margin-top: 1.563rem;
}

button{
    width: 9.688rem;
    background-color: #f15a29;
    border-color: #f15a29;
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    color: white;
    font-size: 1.125rem;
}

/*Cases*/

.cases h2 {
    font-size: 2.75rem;
    margin: 1.625rem 0 3.125rem;
    font-weight: 300;
}

.devices li{
    width: 33.33%;
    float: left;
}

